

.container
    max-width: 940px
    margin: 0 auto
    +r(963)
        margin: 0 10px


.header__wrap
    display: flex
    align-items: baseline
    padding: 22px 0px 16px 0px

.logo
    &__link
        text-decoration: none
        font-size: 0px
        font-weight: bold
        +bebas
    &__part1
        color: $active-color
        font-size: 36px
    &__part2
        color: $second-color
        font-size: 36px

.header__nav
    margin-left: auto
    +r(670)
        display: none


.nav
    font-size: 16px
    display: inline-block
    vertical-align: 6px
    +bebas
    ul
        display: flex
    a
        text-decoration: none
        text-transform: uppercase
        margin-left: 24px
        color: $text-color
        font-weight: bold

.nav a.is-active,
.nav a:hover
    color: $active-color

.category-line
    background-color: $second-color
    margin-bottom: 24px
    &__title
        color: #ffffff
        padding: 15px
        margin: 0px auto
        background-color: $active-color
        border-left: 10px solid #fff
        border-right: 10px solid #fff
        text-transform: uppercase
        font-size: 24px
        width: 67%
        +bebas

.content
    +rmin(926)
        display: flex

.main
    width: 65%
    +r(925)
        width: 83%
    +r(600)
        width: 100%

.aside
    width: 17%
    padding-left: 25px
    +r(925)
        width: 80%
        margin: 10px auto
        display: flex
    +r(680)
        display: block
    +r(600)
        width: 100%
        padding: 0 10px

.post
    display: flex
    &__media
        margin-bottom: 24px
        +r(462)
            margin-bottom: 0px
    &__content
        padding: 0px 10px
        width: 74%
        &:after
            content: ""
            display: block
            height: 14px
            margin: 50px 0px
            background: url(../img/particle.png) 0 0
        +r(925)
            width: 86%
        +r(600)
            width: 100%
    &__description
        display: flex
        +r(462)
            display: block
    &__info
        width: 23%
        font-size: 12px
        color: $text-color
        +bebas
        +r(462)
            display: flex
            width: 100%
    &__text
        width: 77%
        font-size: 12px
        line-height: 1.5
        +r(462)
            width: 100%
    &__title
        margin: 5px 0px 20px 0px
        a
            font-size: 18px
            +bebas
            color: $active-color
            line-height: 1

            text-transform: uppercase
            text-decoration: none
            &:hover
                color: $second-color
    &__more-link
        text-decoration: none
        color: green
        &:hover
            color: $active-color
    &__video
        height: 300px
    &__share
        margin-bottom: 70px
    &__link
        text-decoration: none
        color: $text-color
        &:hover
            color: $second-color

.date,.tags,.comment
    +r(462)
            width: 33.33%
            text-align: center
            margin-bottom: 10px

.icon-col
    text-align: right
    width: 25.5%
    +r(925)
        width: 21%
    +r(600)
        display: none
    &__icon
        height: 75px
        width: 75px
        background-color: $active-color
        background-position: center center
        background-repeat: no-repeat
        display: inline-block

.post-img
    height: 300px
    width: 100%
    object-fit: cover
    +r(600)
        height: 200px

.thumb-wrap
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.date__title,.tags__title,.comment__title
    display: block
    text-transform: uppercase
    color: $active-color
    font-weight: 600
    margin: 11px 0px

.date__value,.tags__tag,.comment__value
     margin-bottom: 11px
     text-decoration: none
     color: $text-color
     &:hover
        color: $second-color

.about,.list,.gallery
    +r(925)
        width: 33.33%
        margin: 0 5px
    +r(680)
        width: 100%






.aside-title
    color: $active-color
    display: flex
    text-transform: uppercase
    margin-bottom: 23px
    font-size: 14px
    +bebas
    &:after
        content: ""
        flex: 1
        margin-left: 10px
        background: url(../img/particle.png) 0 0

.about__text
    margin-bottom: 37px
    font-size: 12px
    line-height: 1.2

.list__nav
    margin-bottom: 30px
    a
        color: #000
        font-size: 12px
        line-height: 1.2
        text-decoration: none
        &:hover
            color: $active-color


.gallery
    &__wrap
        display: flex
        flex-wrap: wrap
    &__box
        height: 49px
        width: 49px
        margin: 2.5px
        background: $second-color
        border: 1px solid $active-color
        display: block


.gallery__img
    width: 100%
    height: 49px
    object-fit: cover;


.quote
    background: #f5f5f5
    margin-bottom: 70px
    position: relative
    display: flex
    &__symbol
        font-family: serif
        display: block
        font-size: 68px
        color: $active-color
        line-height: 0.285
        text-align: left
        position: relative
        top: 30px
        left: 10px
    &__text
        font-size: 12px
        padding: 25px 5px 20px 25px

.share-title
    margin: 0px 0px 10px 0px

.post__share
    p
        margin-top: 10px
        font-size: 12px

.switch
    display: inline-block
    position: relative
    left: 17%
    margin-bottom: 30px
    a
        background-color: $second-color
        width: 26px
        height: 26px
        display: inline-block
        line-height: 26px
        text-align: center
        text-decoration: none
        color: white
        margin-right: 3px

.switch a.is-active,
.switch a:hover
    background: $active-color








