---
title: Test Jetro
---
{% extends "layouts/_layout.html" %}

{% block content %}
    <!-- begin header -->
    <header class="header">
        <!-- begin container -->
        <div class="container">
            <!-- begin header__wrap -->
            <div class="header__wrap">
                <!-- begin logo -->
                <div class="logo">
                    <a href="#" class="logo__link">
                    <span class="logo__part1">JET</span>

                    <span class="logo__part2">RO</span>
                    <span class="logo__part3"></span>

                </a>
                </div>
                <!-- end logo -->
                <div class="header__nav">
                    <nav class="nav">
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#" class="is-active">BLOG</a></li>
                            <li><a href="#">PORTFOLIO</a></li>
                            <li><a href="#">CONTACT US</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- end header-nav -->
            </div>
            <!-- end header__wrap -->
        </div>
        <!-- end container -->
    </header>
    <!-- end header -->
    <!-- begin category-line -->
    <div class="category-line">
        <h2 class="category-line__title">blog</h2>
    </div>
    <!-- end categoryl-ine -->
    <!-- begin content -->
    <div class="content">
        {% include "layouts/_main.html" %}
        {% include "layouts/_aside.html" %}
    </div>
    <!-- end content -->
    <!-- begin switch -->
                <div class="switch">
                    <a href="#" class="is-active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                </div>
                <!-- end switch -->

{% endblock %}
