<!-- begin aside -->
        <aside class="aside">
            <div class="about">
                <h4 class="title4">ABOUT JETRO</h4>
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="list">
                <h4 class="title4">CATEGORIES</h4>
                <nav class="list__nav">
                    <ul>
                        <li class="list__value"><a href="#">Video<span >(3)</span></a></li>
                        <li class="list__value"><a href="#">Sports<span >(6)</span></a></li>
                        <li class="list__value"><a href="#">Media<span >(2)</span></a></li>
                        <li class="list__value"><a href="#">Entertainment<span >(7)</span></a></li>
                        <li class="list__value"><a href="#">Life<span >(4)</span></a></li>
                        <li class="list__value"><a href="#">SuperCoolStuff<span >(8)</span></a></li>
                    </ul>
                </nav>
            </div>
            <!-- begin gallery -->
            <div class="gallery">
                <h4 class="title4">PHOTO GALLERY</h4>
                <!-- begin gallery__wrap -->
                <div class="gallery__wrap">
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img1.jpg" >
                            <img class="gallery__img" src="img/img1.jpg" alt="image">
                        </a>
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img2.jpg">
                            <img class="gallery__img" src="img/img2.jpg" alt="image">
                        </a>
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img1.jpg" >
                            <img class="gallery__img" src="img/img1.jpg" alt="image">
                        </a>
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img2.jpg">
                            <img class="gallery__img" src="img/img2.jpg" alt="image">
                        </a>
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img2.jpg">
                            <img class="gallery__img" src="img/img2.jpg" alt="image">
                        </a>
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img1.jpg" >
                            <img class="gallery__img" src="img/img1.jpg" alt="image">
                        </a>
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img2.jpg">
                            <img class="gallery__img" src="img/img2.jpg" alt="image">
                        </a>
                        <a class="gallery__box" data-lightbox="roadtrip" href="img/img1.jpg" >
                            <img class="gallery__img" src="img/img1.jpg" alt="image">
                        </a>
                </div>
                <!-- end gallery__wrap -->
            </div>
            <!-- end gallery -->
        </aside>
        <!-- end aside -->