<!-- begin aside -->
        <aside class="aside">
            <div class="about">
                <h4 class="aside-title">ABOUT JETRO</h4>
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="list">
                <h4 class="aside-title">CATEGORIES</h4>
                <nav class="list__nav">
                    <ul>
                        <li><a href="#">Video<span class="list__value">(3)</span></a></li>
                        <li><a href="#">Sports<span class="list__value">(6)</span></a></li>
                        <li><a href="#">Media<span class="list__value">(2)</span></a></li>
                        <li><a href="#">Entertainment<span class="list__value">(7)</span></a></li>
                        <li><a href="#">Life<span class="list__value">(4)</span></a></li>
                        <li><a href="#">SuperCoolStuff<span class="list__value">(8)</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="gallery">
                <h4 class="aside-title">PHOTO GALLERY</h4>
                <div class="gallery__wrap">
                    <div class="gallery__box"><a href="#"></a></div>
                    <div class="gallery__box"><a href="#"></a></div>
                    <div class="gallery__box"><a href="#"></a></div>
                    <div class="gallery__box"><a href="#"></a></div>
                    <div class="gallery__box"><a href="#"></a></div>
                    <div class="gallery__box"><a href="#"></a></div>
                    <div class="gallery__box"><a href="#"></a></div>
                    <div class="gallery__box"><a href="#"></a></div>
                </div>
            </div>
        </aside>
        <!-- end aside -->