    <!-- begin sidebar menu -->
    <div id="sidebar">

        <div class="toggle-btn" id="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#" class="is-active">BLOG</a></li>
            <li><a href="#">PORTFOLIO</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </div>
    <!-- end sidebar menu-->
